/* BookReqForm.css */

body {
    font-family: 'Arial', sans-serif;
    background: url('../assets/image.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-card {
    background-color: #ffffff;
    border: 1px solid #d1c4b2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    width: 400px;
}

h1 {
    color: #6b4f39;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #6b4f39;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.form-field {
    margin-bottom: 15px;
}

label {
    color: #5a4634;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1c4b2;
    border-radius: 5px;
    background-color: #fbf8f3;
    font-size: 14px;
    color: #5a4634;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #a67a44;
    outline: none;
}

.Submit-Button {
    background-color: #a67a44;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.Submit-Button:hover {
    background-color: #855c33;
}

@media (max-width: 480px) {
    .form-card {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}
